html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline:0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {height:100%; border:0;}
body {background:url(../images/bg_body.png) 0 0 repeat; font-family: Arial, Helvetica, sans-serif; font-size:14px; color:#3a3a3a; font-size:14px;}
a {color:#2d5f7e;}
.clr {clear:both;}

#wrap {position: relative;  min-height: 100%;}
* html #wrap { height: 100%;}
#wrapin {padding-bottom:140px; width:100%;}

#top {width:100%; height:46px; overflow:hidden; background:url(../images/bg_topline.png) 0 0 repeat-x;}
#topin {width:960px; margin:0 auto; padding:10px 0 0 0; line-height:27px; color:#000;}
#topin .address {float:left; display:inline-block;}
#topin .phones {float:left; display:inline-block; padding:0 0 0 50px;}
#topin .account {float:left; display:inline-block; padding:0 0 0 50px; font-size:13px;}
#topin .account a {color:#6c4d13; text-decoration:underline; margin:0 5px;}
#topin .account a:hover {color:#000000;}
#topin .search {float:right; display:inline-block;}
#topin .search div {width:305px; height:27px; background:url(../images/bg_searchfield.png) 0 0 no-repeat; overflow:hidden;}
#topin .search .searchit {display:inline-block; float:left; width:250px; height:27px; line-height:22px; padding:0 10px; background:none; border:none;}
#topin .search input {border:none; outline-style: none;}
#topin .search .searchbut {display:inline-block; float:left; height:27px; width:27px; border:0; background:url(../images/ico_search.png) center no-repeat; cursor:pointer;}

#head {width:100%; background:url(../images/bg_head.png) 0 0 repeat-x;}
#headin {width:960px; margin:0 auto;}
#headin #logo {display:block; float:left; margin:40px 0 0 20px;}
#headin #boy {display:block; float:left; height:140px; line-height:140px; text-transform:uppercase; font-size:13px; background:url(../images/pic_boy.png) left bottom no-repeat; padding:0 0 0 130px; color:#000; margin:10px 0 0 0;}
#headin #girl {display:block; float:left;  height:140px; line-height:140px; text-transform:uppercase; font-size:13px; background:url(../images/pic_girl.png) left bottom no-repeat;  padding:0 0 0 170px; color:#000; margin:10px 0 0 0;}
#headin #logo:hover, #headin #boy:hover, #headin #girl:hover, #attention img:hover {
	color:#0b83a9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
	}
#headin #busket {display:block; float:right; height:70px; width:130px; font-size:13px; line-height:15px; background:url(../images/ico_cart.png) left center no-repeat; padding:0 0 0 55px; margin:40px 0 0 0;}
#headin #busket p {margin:20px 0 0 0;}
#headin #busket a {font-weight:bold;}
#headin #busket a:hover {color:#00abe1;}
#headin #busket span {color:#878989;}

#headin #menu {height:45px; width:958px; overflow:hidden; background:url(../images/bg_topmenu_main.png) left bottom repeat-x; border:1px solid #c1d9dd; 
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
}
#headin #menu ul { display:table; width:100%; height:45px; line-height:45px;}
#headin #menu ul li {display: table-cell; text-align:center;}
#headin #menu ul li a, #iepie .LI a {color:#fff; font-weight:bold; text-decoration:none; font-size:16px; display:inline-block; height:45px; width:100%; background:url(../images/bg_li.png) right center no-repeat;}
#headin #menu ul li.home, #iepie .LI.home { background:url(../images/bg_topmenu_home.png) left bottom repeat-x; border-right:1px solid #fff;
-webkit-border-top-left-radius: 50px;
-webkit-border-bottom-left-radius: 50px;
-moz-border-radius-topleft: 50px;
-moz-border-radius-bottomleft: 50px;
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;
}
#headin #menu ul li.action, #iepie .LI.action {background:url(../images/bg_topmenu_action.png) left bottom repeat-x; border-left:1px solid #fff; border-right:1px solid #fff;}
#headin #menu ul li.last, #iepie .LI.last {
-webkit-border-top-right-radius: 50px;
-webkit-border-bottom-right-radius: 50px;
-moz-border-radius-topright: 50px;
-moz-border-radius-bottomright: 50px;
border-top-right-radius: 50px;
border-bottom-right-radius: 50px;
	}
#headin #menu ul li.action a, #iepie .LI.action a, #headin #menu ul li.home a, #iepie .LI.home a, 
#headin #menu ul li.products a, #iepie .LI.products a, #headin #menu ul li.last a, #iepie .LI.last a {background:none;}
#headin #menu ul li:hover, #iepie .LI:hover {background:url(../images/bg_topmenu_main_hov.png) left bottom repeat-x;}
#headin #menu ul li:hover a,  #iepie .LI:hover a {background:none; text-decoration:underline;}
#headin #menu ul li.home:hover,  #iepie .LI.home:hover {
-webkit-border-top-left-radius: 50px;
-webkit-border-bottom-left-radius: 50px;
-moz-border-radius-topleft: 50px;
-moz-border-radius-bottomleft: 50px;
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;
	}
#headin #menu ul li.active a,  #iepie .LI.active a {text-decoration:underline;}


#container {width:960px; margin:30px auto 0 auto; padding:0 0 50px 0;}

#column {width:200px; overflow:hidden; float:left;}
#column h4 {font-size:22px; display:inline-block; margin:0 0 5px 0;}
.column-block {padding:0 0 25px 0;}
.column-block ul li a, .column-block ul li.active ul li a  {margin:0 0 7px 0; text-decoration:none; color:#2D5F7E;}
.column-block ul li.active a, .column-block ul li.active ul li.active a, .column-block ul li a:hover, .column-block ul li.active ul li:hover a {text-decoration:underline; color:#0b83a9;}
.column-block ul li ul {margin:0 0 5px 15px;}
.categories ul li {width:180px;}
.colours {}
.colour {height:40px; width:45px; float:left; border:1px solid #CCC; margin:1px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.colour div {width:43px; height:38px; border:1px solid #FFF;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.colour input {margin:20px 0 0 25px; width:15px; height:15px;}
.select-manage {padding:10px 0 0 0;}
.select-manage a {display:inline-block; color:#7f8080; font-size:13px;}
.select-manage a:hover {color:#2d2d2d;}
.fleft {float:left;}
.fright {float:right;}
.select-manage .fright {margin:0 10px 0 0;}
sup {vertical-align: super; font-size:80%; color:#bc8ac1;}
h4 sup {font-size:70%; color:#3a3a3a;}
.layout-slider {width:180px; padding:3px 10px;}
.sizeage {}
.sizeage li {width:200px; height:33px; line-height:33px; margin:0 0 3px 0; text-align:center; background:url(../images/bg_bloption.png) 0 0 no-repeat;}
.sizeage li.active a {text-decoration:underline;}
/*
sup {vertical-align: baseline; position: relative; top: -0.4em;}
sub {vertical-align: baseline; position: relative; bottom: -0.4em;}
*/

#section {width:740px;  overflow:hidden; float:right;}
#section p {margin:0 0 10px 0;}
#attention {text-align:center; width:740px; margin:0 0 15px 0;}
.breadcrumbs {margin:0 0 10px 0; color:#7f8080; font-size:13px;}
.breadcrumbs a {color:#7f8080;}
.sortenable {width:720px; margin:0 0 20px 0; padding:0 10px; height:33px; line-height:33px; overflow:hidden; background:url(../images/bg_filterline.png) 0 0 no-repeat;}
.sortname {float:left;}
.sortform {float:right; margin:0 20px 0 0;}
.sortresult {float:right;}
#attention .pic2 {margin:0 0 0 15px;}
#section h4 {font-size:22px; display:inline-block; margin:0 0 5px 0;}
#section h3 {font-size:24px; display:inline-block; margin:0 0 5px 0;}
#section h2 {font-size:26px; display:inline-block; margin:0 0 5px 0;}
#section h1 {font-size:28px; display:inline-block; margin:0 0 5px 0;}
.products {display:table;}
.products .product-each {display:table-cell; float:left; width:180px; overflow:hidden; text-align:center; margin:0 3px 15px 2px;}
.products .product-each .img { display:table-cell; width:180px; height:210px; vertical-align: middle; background:#fff;}
.products .product-each a.product-name { display:table-cell; width:180px; height:50px; line-height:15px; vertical-align: middle; text-decoration:none}
.products .product-each a.product-name:hover {color:#0b83a9; text-decoration:underline;}
.products .product-each .product-add {padding:0 10px;}
.products .product-each .product-price {display:block; float:left; font-weight:bold; line-height:22px; width:90px; overflow:hidden;}
.products .product-each .product-buy {display:block; float:right; background:url(../images/bg_buy.png) center no-repeat; height:22px; width:56px; text-align:center; line-height:22px; text-decoration:none; font-size:13px; color:#993399;}
.products .product-each .product-buy:hover { background:url(../images/bg_buy_hover.png) center no-repeat;}
.product-pages {text-align:center;  line-height:60px; padding:5px 0;  font-size:15px;}
a.page-number {width:60px; height:60px; text-decoration:none; text-align:center; display:inline-block; background:url(../images/ico_pagenumber.png) center no-repeat; color:#fff; font-size:20px;}
a.page-number:hover {background:url(../images/ico_pagenumber_hover.png) center no-repeat;}
a.page-active {width:60px; height:60px; text-decoration:none; text-align:center; display:inline-block; color:#000;}
a.page-next {}
a.page-next:hover {color:#0b83a9;}

.product-mainimg {float:left; width:330px; background:#FFF; overflow:hidden;}
.product-mainimg .img {width:308px; padding:10px; text-align:center; border:1px solid #CCC;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.enlarge {display:inline-block; width:36px; height:36px; margin:-40px 0 0 290px;}
.product-description {float:right; width:390px; font-size:16px; line-height:17px;}
.product-description h1 {color:#2d5f7e; font-size:22px; line-height:24px; display:inline-block; margin:0 0 15px 0;}
.product-sku {font-weight:bold;}
.product-description ul {list-style:disc; margin:10px 0 10px 25px;}
.product-option {margin:15px 0; line-height:25px;}
.product-option .product-colour {float:left;}
.product-option .product-colour span {float:left;}
.product-option .product-colour div {display:inline-block; float:left;}
.this-colour {width:24px; height:24px; border:1px solid #CCC; margin:0 5px;}
.this-colour div {width:23px; height:23px; border:1px solid #FFF; display: table-cell; vertical-align:middle; text-align:center;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.this-colour div input {width:15px; height:15px; margin:10px 0 0 10px;}

.product-option .product-size {float:right;}
.product-description .product-buy {margin:15px 0; color:#fff; font-size:17px; height:69px; line-height:69px; width:360px; padding:0 15px; background:url(../images/bg_priceblock.png) 0 0 repeat-x;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.product-buy span {font-size:24px;}
.product-buy div {position:absolute; line-height:69px; margin:0 0 0 0;}
.product-buy a {display:block; position:absolute; margin:15px 0 0 220px; color:#94489c; text-decoration:none; font-size:22px; width:140px; height:39px;  line-height:39px; background:url(../images/bg_buybig.png) 0 0 no-repeat; text-align:center; color#94489c;}
.product-buy a:hover {background:url(../images/bg_buybig_hover.png) 0 0 no-repeat;}

#bottom {width:960px; margin:0 auto; padding:0 0 30px 0;}
#tabs{
  overflow: hidden;
  width: 100%;
  margin: 0 0 -1px 0;
  padding: 0;
  list-style: none;
}

#tabs li{
  float: left;
  margin: 0 .5em 0 0;
  border:1px solid #CCC;
  border-bottom:none;
  
-webkit-border-top-left-radius: 5px;
-moz-border-radius-topleft: 5px;
border-top-left-radius: 5px;
}

#tabs a{
  position: relative;
  background: #f2f2f2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #fff, #f2f2f2);
  background-image: -moz-linear-gradient(top, #fff, #f2f2f2);
  background-image: -ms-linear-gradient(top, #fff, #f2f2f2);
  background-image: -o-linear-gradient(top, #fff, #f2f2f2);
  background-image: linear-gradient(to bottom, #fff, #f2f2f2);  
  padding: .7em 3.5em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,.4);
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.4);
  box-shadow: 0 2px 2px rgba(0,0,0,.4);
}

#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after{
  background: #fff;
}

#tabs a:focus{
  outline: 0;
}

#tabs a::after{
  content:'';
  position:absolute;
  z-index: 1;
  top: 0;
  right: -.5em;  
  bottom: 0;
  width: 1em;
  background: #f2f2f2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #fff, #f2f2f2);
  background-image: -moz-linear-gradient(top, #fff, #f2f2f2);
  background-image: -ms-linear-gradient(top, #fff, #f2f2f2);
  background-image: -o-linear-gradient(top, #fff, #f2f2f2);
  background-image: linear-gradient(to bottom, #fff, #f2f2f2);  
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  box-shadow: 2px 2px 2px rgba(0,0,0,.4);
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;  
}

#tabs #current a{
  background: #fff;
  z-index: 3;
}

#tabs #current a::after{
  background: #fff;
  z-index: 3;
}

#contentab
{
    background: #fff;
	border:1px solid #CCC;
    padding:20px 15px;
	/* height: 220px; */
	position: relative;
	z-index: 2;	
    -moz-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
    -moz-box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
    box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
}
#contentab.relativecontent {padding:15px 2px; margin:0 0 25px 0;}
#contentab.relativecontent .products .product-each {margin: 0 3px 15px 0;}

#footer {width:100%; height:140px; margin-top:-140px; overflow:hidden; position: relative; background:url(../images/bg_footer.png) 0 20px repeat-x;}
#footerin {width:100%; height:140px; background:url(../images/bg_bottom.png) center bottom no-repeat;}
#footerinin {width:960px; margin:0 auto;}
#footerinin ul.dub-menu {display:table;}
#footerinin ul.dub-menu li {display: table-cell; float:left; padding:0 10px; height:22px; line-height:22px;}
#footerinin ul.dub-menu li a {text-decoration:none;}
#footerinin ul.dub-menu li a:hover {text-decoration: underline; color:#0b83a9;}
#footerinin .rules {height:41px; line-height:41px; padding:0 0 0 110px; background:url(../images/logo_mini.png) left center no-repeat; margin:40px 0 0 0; float:left;}
#footerinin .social {margin:40px 0 0 50px; float:left; font-size:13px;}
#footerinin .social span {font-weight:bold; line-height:15px; display:inline-block;}
#footerinin .social a {display:inline-block; padding:0 10px 0 25px; margin:0 10px 0 0; float:left; line-height:20px; text-decoration:none;}
#footerinin .social a:hover {text-decoration:underline; color:#3b6372;}
#footerinin .social .facebook {background:url(../images/ico_soc_facebook.png) left center no-repeat;}
#footerinin .social .twitter {background:url(../images/ico_soc_twitter.png) left center no-repeat;}
#footerinin .social .vkontakte {background:url(../images/ico_soc_vkontakte.png) left center no-repeat;}
#footerinin .counters {float:right; margin:55px 0 0 0;}